<div class="user-container">
  <div class="user-container-wrapper" *ngIf="user !== undefined && post !== undefined;">
    <a mat-tab-link [routerLink]="['/posts', post.id]" class="user-container-back-link" routerLinkActive="active">&#9664; <b>back to:</b> {{post.title}}</a>
    <hr/>
    <div class="user-container-info">
      <p>Profile: <b>{{user.name}} aka "{{user.username}}"</b></p>
      <h5>Info:</h5>
      <ul>
        <li>{{user.address.city}}, {{user.address.street}}, {{user.address.zipcode}}</li><br/>
        <li>{{user.website}}</li><br/>
        <li>{{user.phone}}</li><br/>
      </ul>
      <h5>Company: </h5>
      <ul>
        <li><b>{{user.company.name}}</b></li><br/>
        <li>"{{user.company.catchPhrase}}"</li>
      </ul>
    </div>
    <hr/>
    </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>
