<div class="publish-container">
  <div class="publish-container-wrapper">
    <div class="socket-example-wrapper">
      <label>
        Socket input:
        <input
          [(ngModel)]="socketInputValue"
          (ngModelChange)="changeSocketValue()"
          [value]="socketDynamicValue"
          maxlength="15"
          type="text"
          class="socket-example-wrapper-input"
        />
      </label>
      <p>Result from db: <b>{{socketDynamicValue}}</b></p>
    </div>
    <hr/>
    <div class="form-wrapper">
      <h3 class="publish-container-title">New post:</h3>
      <label>
        Title:
        <input [(ngModel)]="title" minlength="10" maxlength="50" (ngModelChange)="validate($event)" type="text">
      </label>
      <label>
        Text:
        <textarea [(ngModel)]="description" minlength="50" maxlength="500" (ngModelChange)="validate($event)" type="text"></textarea>
      </label>
      <button (click)="onSubmit()" [className]="formIsValid ? 'form-wrapper-enable' : 'form-wrapper-disable'" [disabled]="!formIsValid">Publish</button>
    </div>
  </div>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>
